/*-----------------------FONTS------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=League+Spartan:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-----------------------ROOT------------------------*/
:root {
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-LeagueSpartan: 'League Spartan', sans-serif;
  --font-Dosis: 'Dosis', sans-serif;
}

/*-----------------------GENERAL------------------------*/

* {
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}
/*-----------------------GENERAL ELEMENTS------------------------*/

#page{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#blog{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.title-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.title-section h2{
  font-family: var(--font-LeagueSpartan);
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  background-clip: text;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
}

.es{
  display: none;
}

/*----------------------------*/

#arrow-box{
  height: 5em;
  width: 5em;
  position: absolute;
  bottom: 20%;
  z-index: 100;
  opacity: 0;
}

.arrow{
  position: absolute;
  left: 10%;
  animation: animation-arrow-scroll 1.5s infinite linear;
}

.arrow-icon {
  height: 2.8em;
  width: 2.8em;
  display: block;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.left-bar:after {
  content: "";
  background-color: white;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.right-bar:after {
  content: "";
  background-color: white;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.open .left-bar:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .right-bar:after {
  transform-origin: center center;
  transform: rotate(70deg);
}


/*----------BTN-----------*/
.btn{
  position: relative;
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.btn:after {
  background: transparent;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 0.5s ease;
  transform: scale(0.1);
  z-index: 1;
}

#btn-resume-header{
  background: transparent;
}

#btn-resume-header::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px; 
  padding: 3px; 
  background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%); 
  mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

#btn-resume-header:hover::before{
  padding: 0px; 
}

.btn:hover:after {
  transform: scale(1);
}

.btn span{
  display: block;
  position: absolute;
  width: 150px;
  height: 50px;
  top: 0;
  left: 0;
  line-height: 50px;
  font-family: var(--font-Dosis);
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 2;
}

.btn span:nth-child(2){
  display: none;
}


.btn span:nth-child(2) svg{
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.btn:hover span:nth-child(1){
  display: none;
}

.btn:hover span:nth-child(2){
  display: block;
}

/*-------------------------*/

.bg-circuit{
  position: absolute;
  width: 100%;
  height: 390px;
  bottom: 20%;
  opacity: 0.5;
}

.bg-circuit{
  border-radius: 0 50% 50% 0;
  overflow: hidden;
} 

.bg-colored-patterns,
.bg-colored-moons{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.bg-colored-patterns svg{
  position: absolute;
}

/*-----------------------------HEADER------------------------------*/

#main-menu {
  display: flex;
  position: fixed;
  flex-flow: row wrap;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  justify-content: space-between;
  z-index: 20;
  transition: all 0.5s;
}

/*-------------------------------------*/

#start{
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
}

#logo{
  width: 100px;
  height: 100px;
}

#logo svg{
  width: 50px;
  height: 50px;
  margin: 25px;
}

.logo{
  transition: all 0.5s;
}

#config {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

#config ul {
  display: inline-flex;
  gap: 10px;
}

#config ul li {
  position: relative;
  list-style: none;
  width: 39px;
  height: 39px;
  text-align: center;
  border-radius: 50%;
  line-height: 52px;
  transition: all 0.5s;
}

#config ul li a {
  text-decoration: none;
  font-size: 2.5em;
  transition: all 0.5s;
}

#config ul li:nth-child(1){
  display: none;
}

.effect-change-theme{
  display: block;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  z-index: -1;
}

/*-------------------------------------*/

#nav-bar {
  display: flex;
  width: 900px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

#nav-bar ul {
  display: inline-flex;
  gap: 50px;
  /* overflow: hidden; */
}

#nav-bar ul li {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
}

#nav-bar ul li a {
  display: block;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: var(--font-Dosis);
  font-weight: bold;
  font-size: 1.2em;
  transition: all 300ms;
}

#btn-menu-list{
  display: none;
}

#nav-bar ul li::before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 100%;
}

/* ----------------------------------------------------------------------------- */
.btn-menu-list {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: 0.2s ease-in;
  position: relative;
  z-index: 2;
}

.menu-icon-wrapper {
  display: flex;
  flex-direction: column; 
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 2px;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.menu-icon-line {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 2px;
}
.menu-icon-line.half {
  width: 50%;
}
.menu-icon-line.first {
  transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
  transform-origin: right;
}
.menu-icon-line.last {
  align-self: flex-end;
  transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
  transform-origin: left;
}

.btn-menu-list-active {
  -webkit-animation: onePulse 0.6s forwards linear;
          animation: onePulse 0.6s forwards linear;
}
.btn-menu-list-active .menu-icon-wrapper {
  transform: rotate(-45deg);
}
.btn-menu-list-active .menu-icon-line.first {
  transform: rotate(-90deg) translateX(1px);
}
.btn-menu-list-active .menu-icon-line.last {
  transform: rotate(-90deg) translateX(-1px);
}

.nav-bar-list{
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform-origin: top right;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease 0.1s;
  z-index: 3;
}

.menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; 
  gap: 2%;
}

.menu-list-item {
  display: flex;
  color: #fff;
  position: relative;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in;
  transform: translatex(-10px);
  opacity: 0;  
}

.menu-list-item::before{
  content: "";
  position: absolute;
  height: 4px;
  top: 100%;
}

.menu-list-item a {
  display: inline-block;
  text-decoration: none;
  font-size: 4em;
  font-family: var(--font-Montserrat);
  font-weight: bold;
  letter-spacing: 5px;
}

.menu-list-item:hover,
.menu-list-item:hover::before {
  background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  background-clip: text;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
}

.menu-list-item:hover::before{
  background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  animation: in 0.5s 1 both;
}

.nav-bar-list-active{
  opacity: 1;
  transform: scale(1);
}
.nav-bar-list-active .menu-list-item {
  -webkit-animation: fadeInItem 0.6s 0.2s forwards;
          animation: fadeInItem 0.6s 0.2s forwards;
}
.nav-bar-list-active .menu-list-item:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.nav-bar-list-active .menu-list-item:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.nav-bar-list-active .menu-list-item:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.nav-bar-list-active .menu-list-item:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.nav-bar-list-active .menu-list-item:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

/*-----------------------------ASIDE LEFT/RIGHT------------------------------*/

#social,
#email {
  position:fixed;
  width: 100px;
  height: 500px;
  bottom: 0;
  z-index: 1;
  transition: all 0.5s;
}

#social{
  left: 0;
}

#email{
  right: 0;
}

.box-social,
.box-email {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#social ul {
  position: absolute;
  bottom: 44%;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

#social ul li {
  list-style: none;
  width: 39px;
  height: 39px;
  text-align: center;
  border-radius: 50%;
  line-height: 53px;
  transition: all 0.5s;
}

#social ul li a {
  text-decoration: none;
  font-size: 2.5em;
  transition: all 0.5s;
  border: none;
}

.box-social span,
#email span{
  display: block;
  position: absolute;
  width: 2px;
  height: 40%;
  bottom: 0;
}

.icon-email{
  position: absolute;
  top: 27%;
  text-decoration: none;
  font-size: 1em;
  font-family: var(--font-Dosis);
  font-weight: bold;
  letter-spacing: 3px;
  padding: 4px;
  border-radius: 15px;
  transform: rotate(90deg);
  transition: all 0.5s;
}

/*--------------------------HOME SECTION-----------------------------*/

#home {
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

#profile {
  width: 80%;
  height: 80%;
  z-index: 19;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

#greeting{
  display: flex;
  flex-direction: column;
}

/* #greeting h1 {
  font-family: var(--font-LeagueSpartan);
  font-weight: bold;
  font-size: 6em;
} */

.greeting-colum1,
.greeting-colum2{
  display: flex;
}

.letter-anim {
  display: block;
  font-family: var(--font-LeagueSpartan);
  font-weight: 700;
  font-size: 6em;
  cursor: pointer;
  transition: all 0.2s;
}

.letter-space{
  display: block;
  font-family: var(--font-LeagueSpartan);
  font-weight: 700;
  font-size: 6em;
  color: transparent;
}

#especiality h3 {
  font-family: var(--font-LeagueSpartan);
  font-size: 1.5em;
}

#auto-input-occupation{
  color: #f8ab03;
}

.btn-about span:nth-child(2){
  transform: rotateZ(90deg);
}

/*-------------------------ABOUT SECTION----------------------------*/

#about {
  width: 100%;
  position: relative;
}

.frame-about{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  position: relative;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.about-user-img{
  position: absolute;
  top: 8%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.about-user-img img{
  width: 100%;
  height: 100%;
}

.about-user-info{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18%;
  width: 80%;
  height: 50%;
  padding: 5%;
  justify-content: center;
  gap: 8%;
  border-radius: 20px;
  font-family: var(--font-LeagueSpartan);
}

.about-user-info-title h2{
  font-size: 2em;
}

.about-user-info-title h3{
  font-size: 1.5em;
}

.about-user-info-data{
  display: flex;
  gap: 5%;
}

.about-user-info-data ul li{
  list-style: none;
  margin-bottom: 10px;
}

/*-------------------------SKILLS SECTION----------------------------*/

#skills {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.skills-description{
  text-align: center;
  padding: 30px;
  font-family: var(--font-LeagueSpartan);
  font-size: 1em;
}

.frame-skills{
  display: flex;
  width: 100%;
  height: 550px;
  margin: 0 auto;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 3.333%;
}

.skill-list{
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 85%;
  justify-content: space-between;
}

.skill-item{
  display: flex;
  width: 100%;
  height: 20%;
  /* border-top: 3px solid #f8ab03; */
  justify-content: space-between;
  /* border-radius: 10px; */
  overflow: hidden;
}

.skill-item-icon{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.skill-item-icon img{
  width: 70%;
  height: 70%;
  margin: 15%;
}

.skill-item-info{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.skill-item-meta{
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-LeagueSpartan);
}

.skill-item-bar{
  border-radius: 10px;
  position: relative;
  width: 90%;
  height: 15px;
  overflow: hidden;
}

.skill-item-bar-value{
  background: var(--xpcolor);
  position: absolute;
  width: var(--xp);
  height: 100%;
  /* padding-left: 50%;
  left: -50%; */
  animation: var(--animation);
}

.sub-title-other-skills{
  width: 100%;
  margin-top: 8%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.5em;
  font-family: var(--font-LeagueSpartan);
}

.frame-other-skills{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}

.other-skills-line{
  display: flex;
  position: relative;
  width: 1500px;
  height: 50%;
}

.skills-line-up{
  animation: animate-skills-line-up 15s infinite linear;
}

.other-skill-items{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.other-skill-items:nth-child(2){
  transform: translateX(100%);
}

.other-skill-item{
  display: flex;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-family: var(--font-Dosis);
  font-weight: 700;
  font-size: 1em;
  align-items: center;
  justify-content: center;
}

.skills-line-down 
.other-skill-items:nth-child(2){
  transform: translateX(-100%);
}

.skills-line-down{
  animation: animate-skills-line-down 15s infinite linear;
}

/*-------------------------PROYECTS SECTION----------------------------*/

#projects {
  width: 100%;
  height: 1000px;
  position: relative;
  margin-bottom: 50px;
}

.projects-description{
  text-align: center;
  padding-bottom: 30px;
  font-family: var(--font-LeagueSpartan);
  font-size: 1.2em;
}

.frame-projects{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 750px;
  margin-bottom: 50px;
  overflow: hidden;
}

.projects-row{
  display: flex;
  width: 100%;
  height: 50%;
}

.projects-row-up{
  animation: animation-projects-rows-up 15s infinite;
}

.projects-row-down{
  transform: translateX(-25%);
  animation: animation-projects-rows-down 15s infinite;
}

.project-item{
  background: var(--project-item-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 25%;
  height: 100%;
}

.project-item-info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-family: var(--font-LeagueSpartan);
  border-radius: 50%;
  scale: 0;
  transition: 0.3s all linear;
}

.project-item-title,
.project-item-description{
  width: 80%;
  text-align: center;
}

.project-item-btn{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#btn-project-link{
  transform: scale(0.8);
}

.project-item-title{
  font-size: 1.3em;
}

.project-item-description{
  font-size: 1em;
}

.project-item-btn a{
  width: 50px;
  height: 50px;
  font-size: 3.5em;
  text-decoration: none;
  transition: 0.5s;
}

.project-item-active .project-item-info{
  scale: 1;
  border-radius: 0%;
}

/*-------------------------EXPERIENCE SECTION----------------------------*/

#experience{
  width: 100%;
  height: auto;
  position: relative;
}

.frame-experience{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  overflow: hidden;
}

.works-time-line{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: space-around;
  align-items: center;
}

.line-span{
  display: block;
  position: absolute;
  width: 10px;
  height: 100%;
  z-index: 0;
  background: #00eef7;
}

.works-avtar-user{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}
.works-avtar-user img{
  width: 100%;
  height: 100%;
}

.work-item{
  display: flex;
  width: 550px;
  margin-right: 5%;
}

.triangle-left,
.triangle-right{
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid #f8ab03;
  border-bottom: 10px solid transparent;
}

.work-item-right{
  justify-content: end;
  border-radius: 0 10px 10px 10px;
  margin-left: 10%;
}

.triangle-right{
  border-left: 0;
  border-right: 10px solid #f8ab03;
}

.work-item-info{
  width: 45%;
  padding: 1%;
  border-radius: 10px 0 10px 10px;
  font-family: var(--font-LeagueSpartan);
}

.work-item-info-right{
  border-radius: 0 10px 10px 10px;
}

.sub-title-hobbies{
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  font-family: var(--font-LeagueSpartan);
  font-size: 1.5em;
}

.hobbies{
  display: flex;
  width: 100%;
  height: 390px;
  justify-content: space-between;
  align-items: center;
}

.hobby-item{
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 90%;
  border-top: 3px solid var(--color-border);
  align-items: center;
  gap: 5%;
}

.hobby-item-img{
  width: 80%;
  height: 35%;
  overflow: hidden;
}

.hobby-item-img img{
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.hobby-item-info{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 48%;
  margin-top: 5%;
  gap: 10%;
  font-family: var(--font-LeagueSpartan);
  overflow: hidden;
  transition: all 0.5s;
}

.hobby-item-title{
  display: flex;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-border);
  justify-content: space-between;
  transition: all 0.5s;
}

/* .hobby-item-description{
  
} */

.hobby-item-img:hover img{
  scale: 1.1;
}


/*-------------------------CONTACT SECTION----------------------------*/

#contact {
  width: 100%;
  height: 850px;
  position: relative;
  z-index: 2;
}

.frame-contact{
  display: flex;
  position: relative;
  width: 80%;
  height: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.frame-form{
  width: 680px;
  height: 100%;
  border-radius: 15px;
}

.form-contact{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  margin-top: 8%;
  justify-content: space-around;
  align-items: center;
}
.form-input{
  position: relative;
  width: 100%;
  height: 35px;
}
.form-input:nth-child(4){
  height: 100px;
  margin-bottom: 10px;
}

.form-input label{
  position: absolute;
  top: 30%;
  left: 2%;
  font-family: var(--font-LeagueSpartan);
  font-size: 1em;
  pointer-events: none;
  transition: all 0.5s;
}

.form-input:nth-child(4) label{
  top: 8%;
}

.form-input input,
.form-input textarea{
  width: 100%;
  height: 100%;
  padding-left: 7px;
  background: transparent;
  border-radius: 5px;
  border: 0;
  background: #ffffff15;
  font-family: var(--font-LeagueSpartan);
  font-size: 1em;
  transition: all 0.5s;
}

.form-input textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  padding-top: 10px;
}


.form-input input:focus,
.form-input textarea:focus,
.form-input input:valid,
.form-input textarea:valid
{
  outline: none;
}

.form-input input:focus ~ label,
.form-input textarea:focus ~ label,
.form-input input:valid ~ label,
.form-input textarea:valid ~ label{
  top: -20%;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  margin-left: 5px;
  padding: 0 10px 0 10px;
  border-radius: 4px;
}

.form-input textarea:focus ~ label,
.form-input textarea:valid ~ label{
  top: -5%;
}

.form-contact button{
  align-self: flex-start;
}

.frame-form ul{
  display: flex;
  width: 80%;
  height: 15%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.frame-form ul li{
  list-style: none;
  text-align: center;
  line-height: 60px;
}

.frame-form ul li a{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 2.1em;
  transition: all 0.5s;
}

/*----------------BTN SUBMIT--------------------*/

#canvas {
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 10;
}

#btn-contact {
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-Dosis);
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  outline: none;
  z-index: 1;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
}

#btn-contact::before {
  /* background: #1f2335; */
  background: transparent;
  border-radius: 5px;
  content: '';
  display: block;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transition: width 0.2s cubic-bezier(0.39, 1.86, 0.64, 1) 0.3s;
  width: 100%;
}

#btn-contact.ready .submitMessage svg {
  opacity: 1;
  top: -5px;
  transition: top .4s ease 600ms, opacity .3s linear 600ms, scale 0.2s linear;
}

#btn-contact.ready .submitMessage .button-text span {
  top: 0;
  opacity: 1;
  transition: all 0.2s ease calc(var(--dr) + 600ms);
}

#btn-contact.loading::before {
  transition: width .3s ease;
  width: 80%;
}
#btn-contact.loading .loadingMessage {
  opacity: 1;
}
#btn-contact.loading .loadingCircle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loading;
}

#btn-contact.complete .submitMessage svg {
  top: -30px;
  transition: none;
}
#btn-contact.complete .submitMessage .button-text span {
  top: -8px;
  transition: none;
}
#btn-contact.complete .loadingMessage {
  top: 80px;
}
#btn-contact.complete .successMessage .button-text span {
  left: 0;
  opacity: 1;
  transition: all 0.2s ease calc(var(--d) + 1000ms);
}
#btn-contact.complete .successMessage svg {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset .3s ease-in-out 1.4s;
}

.button-text span {
  opacity: 0;
  position: relative;
}

.message {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.message svg {
  display: inline-block;
  fill: none;
  margin-right: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.submitMessage .button-text span {
  top: 8px;
  transition: all 0.2s ease var(--d);
}

.submitMessage svg {
  height: 30px;
  opacity: 0;
  position: absolute;
  left: 60px;
  top: 15px;
  transition: top .4s ease, opacity .3s linear;
  width: 30px;
  scale: 0;
}

.loadingMessage {
  opacity: 0;
  transition: opacity 0.3s linear 0.3s, top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);
}
.loadingMessage svg {
  fill: #6353f5;
  margin: 0;
  width: 22px;
}

.successMessage .button-text span {
  left: 5px;
  transition: all 0.2s ease var(--dr);
}
.successMessage svg {
  color: #15ff00;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset .3s ease-in-out;
  width: 14px;
}

.loadingCircle:nth-child(2) {
  animation-delay: 0.1s;
}

.loadingCircle:nth-child(3) {
  animation-delay: 0.2s;
}

#btn-contact:hover .submitMessage svg{
  scale: 1;
}

#btn-contact:hover.ready .submitMessage .button-text span {
  transition: none;
  opacity: 0;
}

/*----------------------------------------------*/

.map-location{
  width: 45%;
  height: 100%;
  right: 0;
  position: absolute;
  border-radius: 0 15px 15px 0;
}

.map-item{
  width: 90%;
  height: 75%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 10px;
  overflow: hidden;
}

.map-item iframe{
  width: 100%;
  height: 100%;
}

.map-item img{
  width: 100%;
  height: 100%;
}

.map-location ul{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 20%;
  margin: 0 auto;
  justify-content: center;
  gap: 5%;
}


.map-location ul li{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.map-location ul li a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  transition: all 0.5s;
}


.map-location ul li p{
  font-family: var(--font-LeagueSpartan);
  font-size: 0.8em;
}



/*-------------------------CONTACT SECTION----------------------------*/

#footer{
  width: 100%;
  height: auto;
  position: relative;
  background: #6353f5;
}

.frame-footer-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 160px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.thanks,
.credits{
  font-family: var(--font-Montserrat);
  color: white;
}

.thanks h3{
  margin-top: 10px;
}

.frame-footer-content hr{
  width: 100%;
  color: white;
}

.credits a{
 text-decoration: none;
}

/*-------------------------ANIMATIONS----------------------------*/
@keyframes animate-btn-theme {
    0%{
      opacity: 1;
    }
    100%
      {
        transform: scale(1100); 
      }
    
  }
  
  @keyframes animation-xp-skills {
      0%{
        width: 0%;
      }
  }
  
  @keyframes animation-letter-hover {
    0%{
      background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
      background-clip: text;
      -webkit-background-clip: text;  
      -webkit-text-fill-color: transparent;
    }
    10%{
      transform: scale(1.1, 0.8) translateY(10px);
    }
  
    20%{
      transform: scale(1.1, 0.8) translateY(10px);
    }
  
    26%{
      transform: scaleY(1) translateY(-15px);
    }
    32%{
      transform: translateY(0px);
    }
    35%{
      transform: translateY(-8px);
    }
    38%{
      transform: translateY(0px);
    }
  
    100%{
      background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
      background-clip: text;
      -webkit-background-clip: text;  
     -webkit-text-fill-color: transparent;
    }
      
  }
  
  @keyframes animation-letter-start {
    0%{
      opacity: 1;
      transform: scale(0.5) translateY(50px);
    }
    10%{
      transform: scale(0.75) translateY(-50px);
    }
    20%{
      transform: scale(1.1, 0.8) translateY(10px);
    }
    26%{
      transform: scaleY(1) translateY(-15px);
    }
    32%{
      transform: translateY(0px);
    }
    35%{
      transform: translateY(-8px);
    }
    38%{
      transform: translateY(0px);
    }
    
    
  }
  
  @keyframes in {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @-webkit-keyframes onePulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
    }
    50% {
      box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    }
  }
  
  @keyframes onePulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(92, 103, 255, 0.3);
    }
    50% {
      box-shadow: 0px 0px 0px 12px rgba(92, 103, 255, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 4px rgba(92, 103, 255, 0.3);
    }
  }
  @-webkit-keyframes fadeInItem {
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  @keyframes fadeInItem {
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  
  @keyframes animate-skills-line-up {
    100%{
      transform: translateX(-100%);
    }
  }
  
  @keyframes animate-skills-line-down {
    100%{
      transform: translateX(100%);
    }
  }
  
  @keyframes pattern-floating {
    0% {
      transform: translate(0%, 0%); }
    25% {
      transform: translate(3px, 9px); }
    50% {
      transform: translate(6px, 6px); }
    75% {
      transform: translate(0%, 9px); }
    100% {
      transform: translate(0%, 0%); } }  
  
  
  
  @keyframes animation-projects-rows-up {
  
    0%{
      transform: translateX(0%);
    }
    5%{
      transform: translateX(-25%);
    }
    25%{
      transform: translateY(0%) translateX(-25%);
    }  
    30%{
      transform: translateY(100%) translateX(-25%);
    }
    50%{
      transform: translateY(100%) translateX(-25%);
    }
    55%{
      transform: translateY(100%) translateX(0%);
    }
    75%{
      transform: translateY(100%) translateX(0%);
    }
    80%{
      transform: translateY(0%);
    }       
  }      
  
  
  @keyframes animation-projects-rows-down {
    0%{
      transform: translateX(-25%);
    }
    5%{
      transform: translateX(0%);
    }
    25%{
      transform: translateY(0%) translateX(0%);
    }  
    30%{
      transform: translateY(-100%) translateX(0%);
    }
    50%{
      transform: translateY(-100%) translateX(0%);
    }
    55%{
      transform: translateY(-100%) translateX(-25%);
    }
    75%{
      transform: translateY(-100%) translateX(-25%);
    }
    80%{
      transform: translateY(0%) translateX(-25%);;
    }  
  }
  
  @keyframes animation-projects-rows-up-768 {
  
    0%{
      transform: translateX(0%);
    }
    5%{
      transform: translateX(-50%);
    }
    25%{
      transform: translateY(0%) translateX(-50%);
    }  
    30%{
      transform: translateY(100%) translateX(-50%);
    }
    50%{
      transform: translateY(100%) translateX(-50%);
    }
    55%{
      transform: translateY(100%) translateX(0%);
    }
    75%{
      transform: translateY(100%) translateX(0%);
    }
    80%{
      transform: translateY(0%);
    }       
  }      
  
  
  @keyframes animation-projects-rows-down-768 {
    0%{
      transform: translateX(-150%);
    }
    5%{
      transform: translateX(-100%);
    }
    25%{
      transform: translateY(0%) translateX(-100%);
    }  
    30%{
      transform: translateY(-100%) translateX(-100%);
    }
    50%{
      transform: translateY(-100%) translateX(-100%);
    }
    55%{
      transform: translateY(-100%) translateX(-150%);
    }
    75%{
      transform: translateY(-100%) translateX(-150%);
    }
    80%{
      transform: translateY(0%) translateX(-150%);;
    }  
  }
  
  @keyframes loading {
    0% {
      transform: translateY(0%);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0%);
    }
  }
  
  @keyframes animation-arrow-scroll {
    0%{
      transform: translateY(0%);
    } 
    50%{
      transform: translateY(25%);
    }  
  
    100%{
      transform: translateY(0%);
    } 
  }

  /* ---------------------------RESPONSIVE---------------------------- */
  
  @media screen and (min-width: 1501px){
    #nav-bar-list{
       display: none;
    }
 }
 
 @media screen and (max-width: 1500px) {
 
    #nav-bar-list{
       display: block;
    }
 
    #btn-menu-list{
        display: block;
     }
 
     #nav-bar ul,
     .btn-resume-header{
        display: none;
     }
 
     #nav-bar{   
        width: 100px;
        height: 100px;
      }
 }
 
 @media screen and (max-width: 1200px) {
 
    #social,
    #email{
       height: 350px; 
    }
 
    .box-social span,
    #email span{
    height: 35%;
    }
 
    .icon-email{
       font-size: 0.8em;
    }
 
    .letter-anim{
       font-size: 5em;
    }
 
    .letter-space{
       font-size: 5em;
    }
     
    .about-user-img{
       width: 100px;
       height: 100px;
       top: 10%;
    }
 
    .other-skills-line{
       width: 1200px;
    }
 
    .other-skill-item{
       width: 80px;
       height: 40px;
       font-size: 0.8em;
    }
 
    .hobby-item{
       min-width: 210px;
    }
 
    .hobbies{
       gap: 30px;
       overflow: scroll;
    }
 }
 
 
 @media screen and (max-width: 1024px) {
 
    .menu-list-item a{
       font-size: 3em;
    }
 
    #social,
    #email{
       width: 80px; 
    }
 
    .letter-anim{
       font-size: 4em;
    }
 
    .letter-space{
       font-size: 4em;
    }
 
    .about-user-info-title h2{
       font-size: 1.5em;
     }
     
     .about-user-info-title h3{
       font-size: 1em;
     }
 
     .about-user-info-description p,
    .about-user-info-data p{
       font-size: 0.8em;
     }
 
    .frame-skills{
       flex-direction: column;
       height: 650px;
       gap: 2%;
    }
 
    .skill-list{
       width: 90%;
       height: 48%;
    }
 
    .skill-item{
       height: 30%;
    }
 
     .thanks h2{
       font-size: 1.3em;
     }
 
     .thanks h3{
       font-size: 1em;
     }
 
     .credits h3{
       font-size: 1em;
     }
    
 }
 
 @media screen and (max-width: 768px){
 
    #arrow-box{
       opacity: 1;
     }
 
    .menu-list-item a{
       font-size: 2.5em;
    }
 
    #social,
    #email{
       display: none;
    }
 
    .container{     
       width: 90%;
     }
 
     .letter-anim{
       font-size: 3.3em;
    }
 
    .letter-space{
       font-size: 3.3em;
    }
 
    .frame-about{
       height: 800px;
    }
 
    .frame-skills{
       gap: 5%;
    }
 
    .skill-list{
       width: 85%;
    }
 
    .skill-item{   
       height: 25%;
    }
 
    .skill-item-icon{
       width: 80px;
       height: 80px;
    }
 
    .projects-row-up{
       animation: animation-projects-rows-up-768 15s infinite;
     }
     
     .projects-row-down{
       transform: translateX(-150%);
       animation: animation-projects-rows-down-768 15s infinite;
     }
 
    .project-item{
       min-width: 50%;
    }
 
    .works-time-line{
       max-height: 500px;
    }
 
    .work-item{
       width: 79%;
     }
 
     .work-item-info{
       font-size: 0.8em;
     }
 
     .sub-title-hobbies{
       margin-top: 10%;
     }
 
     .hobbies{
       flex-wrap: wrap;
       justify-content: center;
       /* width: 430px; */
       height: 55%;
       margin: 0 auto;
       gap: 15px;
       overflow: hidden;
     }
 
     .hobby-item{
       width: 40%;
       min-width: auto;
       height: 363px;
     }
 
     .hobby-item-title{
       font-size: 0.8em;
     }
 
     .hobby-item-description{
       font-size: 0.8em;
     }
 
     .frame-contact{
       width: 90%;
     }
 
     .thanks h2{
       font-size: 1.1em;
     }
 
     .thanks h3{
       font-size: 0.8em;
     }
 
     .credits h3{
       font-size: 0.8em;
     }
   
 }
 
 @media screen and (max-width: 480px){
    .btn,
    .btn span{
       width: 120px;
       height: 35px;
    }
 
    .btn span{
       line-height: 35px;
       font-size: 0.8em;
       letter-spacing: 0.1em;
    }
 
    .title-section{
       padding: 10px;
     }
 
     .title-section h2{
       font-size: 2.2em;
       letter-spacing: 1px;
     }
 
    #about{
       margin-bottom: 50px;
    }
 
    .letter-anim{
       font-size: 2.8em;
    }
 
    .letter-space{
       font-size: 2.8em;
    }
 
    .frame-about{
       height: 500px;
       margin-top: 20px;
     }
 
 
     .about-user-info{
       gap: 2%;
       height: 85%;
       top: 10%;
     }
 
    .about-user-img{
       width: 80px;
       height: 80px;
       top: 1%;
    }
 
    .sub-title-hobbies,
    .sub-title-other-skills{
       font-size: 1em;
     }
 
    .hobbies{
       gap: 10px;
     }
 
    .hobby-item{
       width: 48%;
       min-width: 150px;
       height: 280px;
       gap: 2%;
     }
 
     .hobby-item-info{
       gap: 5%;
       height: 55%;
     }
 
     .hobby-item-title{
       font-size: 0.7em;
     }
 
     .hobby-item-description{
       font-size: 0.7em;
     }
 
     .skills-description{
       padding: 20px;
       font-size: 0.9em;
     }
 
     .skill-item-meta{
       font-size: 0.8em;
     }
 
     .skill-item-bar{
       height: 10px;
     }
 
     .frame-other-skills{
       height: 100px;
     }
 
     .projects-description{
       font-size: 0.8em;
       margin-top: 10px;
     }
 
     .work-item{
       width: 90%;
     }
 
     .work-item-info{
       font-size: 0.6em;
     }
 
     .work-3{
       height: 40px;
     }
 
     #contact{
       height: 700px;
       overflow: hidden;
     }
 
     .frame-form{
       height: 90%;
     }
 
     .form-input label{
       font-size: 0.9em;
     }
 
    .form-contact button{
          align-self: center;
    }
 
    .frame-form ul{
       margin-top: 20px;
       scale: 0.9;
    }
 
    #btn-contact{
       height: 35px;
       width: 130px;
    }
 
    .submitMessage svg {
       left: 50px;
    }
 
    .thanks h2{
       font-size: 1em;
     }
 
     .thanks h3{
       font-size: 0.6em;
     }
 
     .credits h3{
       font-size: 0.6em;
     }
 }
 
 
 @media screen and (max-width: 360px){
    body{
       width: 360px;
       min-width: 360px;
     }
 }



 /* ----------------------PARALLAX STYLES--------------------------- */
 #parallax {
    position: absolute;
    width: 1920px;
    height: 1080px;
  }
  
  /* ------------------------------------------------------------------ */
  
  .parallax-layer-size {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  /* ------------------------------------------------------------------ */
  
  .evenodd {
    fill-rule: evenodd;
  }
  
  /* ------------------------------------------------------------------ */
  
  #parallax-sky,
  #parallax-layer-0,
  #parallax-layer-1,
  #parallax-layer-2,
  #parallax-layer-3,
  #parallax-layer-4,
  #parallax-layer-5,
  #parallax-layer-6,
  #parallax-layer-7,
  #parallax-layer-8,
  #parallax-layer-9 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  
  #parallax-sky {
    z-index: 0;
    height: 55%;
  }
  
  #parallax-water{
    width: 100%;
    height: 45%;
    z-index: 5;
    top: 48%;
  }
  
  #parallax-water-dark,
  #parallax-water-light {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: none;
  }
  
  #parallax-layer-0 {
    z-index: 13;
    top: 44%;
    /* display: none; */
  }
  
  #parallax-layer-1 {
    z-index: 12;
    top: 6%;
  }
  
  #parallax-layer-2 {
    z-index: 11;
    top: -4%;
  }
  
  #parallax-layer-3 {
    z-index: 10;
    top: -4%;
  }
  
  #parallax-layer-4 {
    z-index: 9;
    top: -7%;
  }
  
  #parallax-layer-5 {
    z-index: 8;
    top: -7%;
  }
  
  #parallax-layer-6 {
    z-index: 7;
    top: -9%;
  }
  
  #parallax-layer-7 {
    z-index: 6;
    top: -10%;
  }
  
  #parallax-layer-8 {
    z-index: 4;
    top: -11%;
  }
  
  #parallax-layer-9 {
    z-index: 3;
    top: -11%;
  }
  
  /* ------------------------------------------------------------------ */
  
  #parallax-water,
  #parallax-layer-0-img,
  #parallax-layer-1-img,
  #parallax-layer-2-img,
  #parallax-layer-3-img,
  #parallax-layer-4-img,
  #parallax-layer-5-img,
  #parallax-layer-6-img,
  #parallax-layer-7-img,
  #parallax-layer-8-img,
  #parallax-layer-9-img {
    position: absolute;
  }
  
  
  /* ------------------------------------------------------------------ */
  
  #nigth-particles {
    width: 100%;
    height: 100%;
    transition: all 1s;
  }
  
  .star-shooting {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: calc(10% * var(--poseX));
    transform: rotate(-20deg);
    opacity: 0;
  }
  
  .star-shooting::before {
    content: "";
    position: absolute;
    padding: 7%;
    background: white;
    border-radius: 50%;
    top: 70%;
    left: 44%;
    box-shadow: 3px 0 10px azure, -3px 0 10px azure, 0 3px 10px azure,
      0 -3px 10px azure;
  }
  
  .star-shooting::after {
    content: "";
    position: absolute;
    background: rgb(250, 250, 250);
    background: linear-gradient(
      0deg,
      rgba(250, 250, 250, 1) 25%,
      rgba(180, 175, 175, 1) 55%,
      rgba(103, 103, 103, 1) 83%
    );
    width: 3px;
    height: 60%;
    top: 10%;
    left: 47%;
  }
  
  .star-box {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(10% * var(--poseX));
    left: calc(10% * var(--poseY));
  }
  
  .star {
    display: block;
    position: absolute;
    padding: calc(1px * var(--scale));
    background: white;
    border-radius: 50%;
    top: 23px;
    left: 23px;
    box-shadow: 3px 0 10px azure, -3px 0 10px azure, 0 3px 10px azure,
      0 -3px 10px azure;
  }
  
  #moon-box {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20%;
    left: 70%;
    transition: all 1s;
  }
  
  #moon {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.356);
    /* background: radial-gradient(circle, rgba(255, 255, 255, 0.726) 0%, rgba(255, 255, 255, 0.459) 50%, rgba(255, 255, 255, 0.363) 90%); */
    box-shadow: 0px 0px 50px #ffffff7a, 0px 0px 50px #ffffff54, 0px 0px 75px #ffffff, 0px 0px 100px #ffffff54;
    
    border-radius: 50%;
  }
  
  #sun-box {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 35%;
    left: 50%;
    transform: translateY(500%);
    transition: all 1s;
    opacity: 0;
  }
  
  #sun {
    position: absolute;
    padding: 25px;
    background: #fdfcfd;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #ffffff, 0px 0px 15px #fafafa, 0px 0px 20px #f8f8f8,
      0px 0px 50px #ee8700, 0px 0px 100px #f7f7f7;
  }
  
  #fire-effect{
    position: absolute;
    width: 4%;
    height: 25%;
    top: 48%;
    left: 59%;
    transition: all 1s;
  }
  
  .fire-particle{
    display: block;
    position: absolute;
    padding: calc(1% * var(--scale));
    top: 100%;
    left: calc(10% * var(--poseX));
    background: rgb(255, 94, 0);
    box-shadow: 0 0 5px rgb(247, 144, 27);
    opacity: 0;
  }
  
  
  .parallax-dark{
    transition: all 1s;
  }
  
  .parallax-light{
    transition: all 1s;
    opacity: 0;
  }

  /* ------------------------PARALLAX THEME STYLES---------------------- */

  .parallax-sky-dark {
    background: rgb(9,32,41);
    background: -moz-linear-gradient(0deg, rgba(9,32,41,1) 10%, rgba(14,47,57,1) 33%, rgba(15,58,71,1) 66%, rgba(6,23,29,1) 95%);
    background: -webkit-linear-gradient(0deg, rgba(9,32,41,1) 10%, rgba(14,47,57,1) 33%, rgba(15,58,71,1) 66%, rgba(6,23,29,1) 95%);
    background: linear-gradient(0deg, rgba(9,32,41,1) 10%, rgba(14,47,57,1) 33%, rgba(15,58,71,1) 66%, rgba(6,23,29,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#092029",endColorstr="#06171d",GradientType=1);
   }
  
  .parallax-sky-light {
    background: rgb(222, 108, 71);
    background: -moz-linear-gradient(
      0deg,
      rgba(222, 108, 71, 1) 31%,
      rgba(60, 70, 117, 1) 84%,
      rgba(51, 58, 101, 1) 99%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(222, 108, 71, 1) 31%,
      rgba(60, 70, 117, 1) 84%,
      rgba(51, 58, 101, 1) 99%
    );
    background: linear-gradient(
      0deg,
      rgba(222, 108, 71, 1) 31%,
      rgba(60, 70, 117, 1) 84%,
      rgba(51, 58, 101, 1) 99%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de6c47",endColorstr="#333a65",GradientType=1);
  }
  
  /*-------------------------------------------*/
  
  .parallax-water-dark {
    background: rgb(4,12,19);
    background: -moz-linear-gradient(0deg, rgba(4,12,19,1) 15%, rgba(6,37,46,1) 60%, rgba(14,103,130,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(4,12,19,1) 15%, rgba(6,37,46,1) 60%, rgba(14,103,130,1) 100%);
    background: linear-gradient(0deg, rgba(4,12,19,1) 15%, rgba(6,37,46,1) 60%, rgba(14,103,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040c13",endColorstr="#0e6782",GradientType=1);
  }
  
  .parallax-water-light {
    background: #ba6351;
  }
  
  /*-------------------------------------------*/
  
  .layer-0-dark {
    fill: url(#lgrad);
  }
  
  .layer-0-light {
    fill: #0b131a;
  }
  
  /*-------------------------------------------*/
  
  .grass-1-dark {
    fill: #060b0f;
  }
  
  .grass-1-light {
    fill: #021620;
  }
  
  .rocks-1-dark {
    fill: #03090e;
  }
  
  .rocks-1-light {
    fill: #1e2430;
  }
  
  .camping-1-dark {
    fill: #f8fc03;
    /* filter: url(#filter-camping-1);
    -webkit-filter: url(#filter-camping-1); */
  }
  
  .camping-1-light {
    fill: #c56100;
  }
  
  .camping-2-dark {
    fill: #faad06;
  }
  
  .camping-2-light {
    fill: #915816;
  }
  
  .camping-3-dark {
    fill: #ffda05;
    /* filter: url(#filter-camping-3);
    -webkit-filter: url(#filter-camping-3); */
  }
  
  .camping-3-light {
    fill: #ffac37;
  }
  
  .camping-4-dark {
    fill: #000000;
  }
  
  .camping-4-light {
    fill: #2b1703;
  }
  
  .camping-5-dark {
    fill: #1d1d1d;
  }
  
  .camping-5-light {
    fill: #4e4e4e;
  }
  
  .fire-1-dark {
    fill: #ff4500;
    /* filter: url(#filter-fire-1); */
    animation: animation-fire-1 5s infinite linear;
  }
  
  .fire-2-dark {
    fill: #f90;
  }
  
  .fire-3-dark {
    fill: #faee00;
  }
  
  .woods-dark {
    fill: #2a1709;
  }
  
  .woods-light {
    fill: #141414;
  }
  
  .smoke-1 {
    fill: #0e0d0d;
    opacity: 0.41;
    /* filter: url(#filter-smoke-1); */
    display: none;
  }
  
  .shadow-campfire {
    fill: #af7113;
    opacity: 0.04;
    /* filter: url(#filter-shadow-campfire); */
    filter: drop-shadow(0px 0px 50px #af7113);
  }
  
  .herb-2-3-dark {
    fill: #040d13;
  }
  
  .herb-2-3-light {
    fill: #040f16;
  }
  
  .herb-1-dark {
    fill: #03090e;
  }
  
  .herb-1-light {
    fill: #1b1b1d;
  }
  
  /*-------------------------------------------*/
  
  .pine-1-dark {
    fill: #040c13;
  }
  
  .pine-1-light {
    fill: #131724;
  }
  
  .pine-2-dark {
    fill: #040d13;
  }
  
  .pine-2-light {
    fill: #10141f;
  }
  
  /*-------------------------------------------*/
  
  .boulder-1-dark {
    fill: #05121b;
  }
  
  .boulder-1-light {
    fill: #191d2c;
  }
  
  .boulder-1-1-dark {
    fill: #040e14;
  }
  
  .boulder-1-1-light {
    fill: #131724;
  }
  
  /*-------------------------------------------*/
  
  .mountains-1-2-dark {
    fill: #041018;
  }
  
  .mountains-1-2-light {
    fill: #1f1a31;
  }
  
  .mountains-1-2-plus-dark {
    fill: #01131a;
  }
  
  .mountains-1-2-plus-light {
    fill: #312a4b;
  }
  
  /*-------------------------------------------*/
  
  .mountain-3-dark {
    fill: #06191f;
  }
  
  .mountain-3-light {
    fill: #2d1a31;
  }
  
  .mountain-4-dark {
    fill: #071e25;
  }
  
  .mountain-4-light {
    fill: #402546;
  }
  
  /*-------------------------------------------*/
  
  .mountain-5-dark {
    fill: #0c2931;
  }
  
  .mountain-5-light {
    fill: #652f46;
  }
  
  /*-------------------------------------------*/
  
  .mountain-6-dark {
    fill: #02414b;
  }
  
  .mountain-6-light {
    fill: #8a414b;
  }
  
  /*-------------------------------------------*/
  
  .mountains-7-1-3-dark {
    fill: #095a68;
  }
  
  .mountains-7-1-3-light {
    fill: #b65b4b;
  }
  
  .mountains-7-2-dark {
    fill: #297e91;
  }
  
  .mountains-7-2-light {
    fill: #f69777;
  }

  /* ------------------------PARALLAX ANIMATIONS---------------------- */
  
  @keyframes animate-shooting {
    0%{
      transform: rotate(-20deg) translateX(0px);
      opacity: 1;
    }
    5%,100%{ 
      transform: rotate(-20deg) translateX(100px);
      top: 50%;
      opacity: 0;
    }
  }


 @keyframes animation-fire-1 {
  0%{
    opacity: 1;
  }

  30%{
    opacity: 0.5;
  }

  60%{
    opacity: 1;
  }

  80%{
    opacity: 0.65;
  }
  
 }

  @keyframes animation-fire-particles {
    0%{
      opacity: 1;
    }
    100%{
        top: 0%;
        opacity: 0;
    } 
  }

  /* ------------------------PARALLAX RESPONSIVE---------------------- */

  @media screen and (min-width: 1921px) {
    #home{
        max-width: 2560px;
        height: 1440px; 
    }
    
    #parallax{      
        width: 2560px;
        height: 1440px;
      }
  }

  @media screen and (min-width: 2561px) {
    #home{
        max-width: 3840px;
        height: 2160px; 
    }
    
    #parallax{      
        width: 3840px;
        height: 2160px;
      }
  }


  /* ------------------------GENERAL PAGE THEME---------------------- */

  :root {
    --color-dark: #14131b;
    --color-light: #dee4fa;
    
    --color-white-primary: #f4f6ff;
    --color-white-secondary: #e8edfd;
    --color-white-disbanded-primary: #ececec5d;
    --color-white-disbanded-secondary: #f1f1f169;
  
    --color-purple-primary: #6353f5;
    --color-purple-secondary: #7566fe;
    --color-shadow-purple: #6353f58f;
  
    --color-yellow-primary: #f8ab03;
  
    --color-lightblue-primary: #00eef7;
  
    --color-black-primary: #131313;  
    --color-black-secondary: #17161f;
    --color-black-disbanded-primary: #1e1d2b77;
    --color-black-disbanded-secondary: #2a293662;
  
    --color-linear-gradient: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  }
  
  /* --------------------------------STATIC COLORS-------------------------------- */
  
  .dark {
    /* background: #0f1014; */
    background: var(--color-dark);
  }
  
  .light {
    background: var(--color-light);
  }
  
  .dark .effect-change-theme{
    background: var(--color-light);
  }
  
  .light .effect-change-theme{
    /* background: #0f1014; */
    background: var(--color-dark);
  }
  
  .dark #contact,
  .dark .menu-list{
    /* background: #0f1014; */
    background: var(--color-dark);
  }
  
  .light #contact,
  .light .menu-list{
    background: var(--color-light);
  }
  
  /* --------------------------------SVG COLORS-------------------------------- */
  
  .main-menu-dark .logo{
    fill: var(--color-white-primary);
  }
  
  .main-menu-light .logo{
    fill: var(--color-black-primary);
  }
  
  #logo svg:hover .logo{
    fill: var(--color-purple-primary);
    filter: drop-shadow(0 0 10px var(--color-purple-primary));
  }
  
  /* -----------------------------------------------GENERAL--------------------------------------------------------------------- */
  #main-menu.main-menu-light #btn-resume-header span{
    color: var(--color-black-primary);
  }
  
  .main-menu-dark #config ul li a, 
  .main-menu-dark #nav-bar ul li a,
  .dark .menu-list-item a,
  .dark .aside-social ul li a,
  .dark .aside-email a,
  .dark .about-user-info, 
  .dark .skills-description,
  .dark .skill-item-info,
  .dark .other-skill-item,
  .dark .projects-description,
  .dark .project-item-info,
  .dark .project-item-btn a,
  .dark .hobby-item-description,
  .dark .form-contact,
  .dark .form-input label,
  .dark .form-input input,
  .dark .form-input textarea,
  .dark .frame-form ul li a,
  .dark #btn-contact,
  .map-location ul li a,
  .map-location ul li p{
    color: var(--color-white-primary);
  }
  
  .main-menu-light #config ul li a, 
  .main-menu-light #nav-bar ul li a,
  .light .menu-list-item a,
  .light .aside-social ul li a,
  .light .aside-email a,
  .light .about-user-info, 
  .light .skills-description,
  .light .skill-item-info,
  .light .other-skill-item,
  .light .projects-description,
  .light .project-item-info,
  .light .project-item-btn a,
  .light .hobby-item-description,
  .light .form-contact,
  .light .form-input label,
  .light .form-input input,
  .light .form-input textarea,
  .light .frame-form ul li a,
  .light #btn-contact{
    color: var(--color-black-primary);
  }
  
  .letter-anim,
  #especiality,
  .project-item-info{
    color: var(--color-white-primary);
  }
  
  
  .dark .aside-social span,
  .dark .aside-email span
  {
    background: var(--color-white-primary);
  }
  
  .light .aside-social span,
  .light .aside-email span{
    background: var(--color-black-primary);
  }
  
  .btn,
  .btn-view-code{
    background: var(--color-linear-gradient);
    box-shadow: 0 0 25px var(--color-shadow-purple);
  }
  
  .btn span,
  .btn-view-code{
    color: var(--color-white-primary);
    stroke: var(--color-white-primary);
  }
  
  #btn-resume-header{
    box-shadow: none;
  }
  
  .dark .project-item-btns a{
    color: var(--color-white-disbanded-primary);
  }
  
  .light .project-item-btns a{
    color: var(--color-black-disbanded-primary);
  }
  
  
  .dark .project-item-info{
    background: var(--color-black-secondary);
  }
  
  .light .project-item-info{
    background: var(--color-white-secondary);
  }
  
  .dark .about-user-info,
  .dark .frame-form,
  .dark .map-item,
  /* .dark .skill-item, */
  .dark .skill-item-bar,
  .dark .other-skill-item,
  .dark .hobby-item{
    background: var(--color-black-disbanded-primary);
  }
  
  .light .about-user-info,
  .light .frame-form,
  .light .map-item,
  /* .light .skill-item, */
  .light .skill-item-bar,
  .light .other-skill-item,
  .light .hobby-item{
    background: var(--color-white-disbanded-primary);
  }
  
  .dark .form-input input,
  .dark .form-input textarea,
  .dark .frame-form ul li a,
  .dark #btn-contact{
    background: var(--color-black-disbanded-secondary);
  }
  
  .light .form-input input,
  .light .form-input textarea,
  .light .frame-form ul li a,
  .light #btn-contact{
    background: var( --color-white-disbanded-secondary);
  }
  
  .about-user-info-title h3,
  .credits a{
    color: var(--color-yellow-primary);
  }
  
  .work-item-info,
  .hr-hobbies{
    background: var(--color-yellow-primary);
  }
  
  .sub-title-other-skills,
  .sub-title-hobbies{
    color: var(--color-lightblue-primary);
  }
  
  /* -------------------------------------- */
  
  .dark .other-skills-gradient{  
  background: var(--color-dark);
  background: linear-gradient(90deg, var(--color-dark) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%, var(--color-dark) 100%);
  }
  
  .light .other-skills-gradient{  
    background: var(--color-light);
    background: linear-gradient(90deg, var(--color-light) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%, var(--color-light) 100%);
  }
  
  #footer{
    background: rgb(24,178,222);
  background: -moz-radial-gradient(circle, rgba(24,178,222,1) 2%, rgba(117,102,254,1) 75%);
  background: -webkit-radial-gradient(circle, rgba(24,178,222,1) 2%, rgba(117,102,254,1) 75%);
  background: radial-gradient(circle, rgba(24,178,222,1) 2%, rgba(117,102,254,1) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18b2de",endColorstr="#7566fe",GradientType=1);
  }
  
  /* --------------------------------HOVER COLORS-------------------------------- */
  
  /* #btn-resume-header span:nth-child(1), */
  #config ul li a:hover,
  .aside-email a:hover,
  .aside-social ul li a:hover,
  #nav-bar ul li:hover a,
  .project-item-btn a:hover,
  .frame-form ul li a:hover{
    background: var(--color-linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
  }
  
  #nav-bar ul li:hover::before{
    background: var(--color-linear-gradient);
    animation: in 0.5s 1 both;
  }
  
  
  #config ul li a:link,
  #nav-bar ul li a:link,
  .aside-social ul li a:link{
    outline: none;
  }
  
  .btn:hover {
    background: transparent;
    box-shadow: none;
  }
  
  .btn:hover::after,
  .btn-view-code:hover{
    background: var(--color-linear-gradient);
    box-shadow: 0 0 25px var(--color-shadow-purple);
  }
  
  #btn-contact:hover,
  .frame-form ul li a:hover{
    border: 1px solid var(--color-purple-primary);
    box-shadow: 0 0 5px var(--color-purple-primary);
  }
  
  .map-location ul li a:hover{
    color: var(--color-white-primary);
    background: var(--color-black-disbanded-primary);
  }
  
  /* --------------------------------FOCUS-VALID COLORS-------------------------------- */
  .form-input input:focus,
  .form-input textarea:focus,
  .form-input input:valid,
  .form-input textarea:valid{
    border: 1px solid var(--color-purple-primary);
    background: transparent;
  }
  
  .form-input input:focus ~ label,
  .form-input textarea:focus ~ label,
  .form-input input:valid ~ label,
  .form-input textarea:valid ~ label{
    background: var(--color-purple-primary);
    color: var(--color-white-primary);
    border-left: 1px solid var(--color-purple-primary);
    border-right: 1px solid var(--color-purple-primary);
  }